extend layout

block content

  script(type='text/javascript', src='scripts/index.js')

  pre#console
    | timer

  #name-area
    input#name(maxlength="3")

  table
    tr
      th.rank Rank
      th.name Name
      th.time Time
    - for (var i = 0; i < leaders.length; i++) {
      - if ((i + 1) % 2 == 0) {
        tr.even
          td.rank
            = i+1
          td.name
            = leaders[i][0]
          td.time
            = leaders[i][1]
      - } else {
        tr.odd
          td.rank
            = i+1
          td.name
            = leaders[i][0]
          td.time
            = leaders[i][1]
      - }
    - }
    tr
      th.rank Latest
      th.name#latest-name ...
      th.time#latest-time ...
