!!!5
html
  head
    title #{title} - Horizontal Scalability Leaderboard
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='scripts/jquery-2.0.2.min.js')
  body
    header
      h1 Horizontal Scalability Leaderboard
    .container
      .main-content
        block content
      .sidebar
        block sidebar
    footer
      p DDS LinkedIn Hackday May 2013
